.body {border: 1px purple;}
.header-container {
  background-color: red;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
  .header{
    display: flex;
    flex-direction: column;
  }
  .fiyat {
    display: flex;
    justify-content: space-between;
    
  }
  .p{
    max-width: 500px;
    margin:0 auto;
    text-align: left;
  }